[submodule "deps/redis"]
	path = deps/redis
	url = https://github.com/MSOpenTech/redis.git
[submodule "deps/happyhttp"]
	path = deps/happyhttp
	url = https://github.com/peryaudo/HappyHTTP.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/miloyip/rapidjson.git
